.github/**
.vscode/**
.vscode-test/**
artifacts/**
coverage/**
dist/test/**
node_modules/**
scripts/**
src/**
test/**
.editorconfig
.gitattributes
.gitignore
eslint.config.mjs
tsconfig*.json
vitest.config.ts
media/**
