.github/**
.vscode/**
.vscode-test/**
Architecture.md
CONTRIBUTING.md
DeveloperGuide.md
README.adoc
artifacts/**
coverage/**
dist/test/**
images/icon.ico
node_modules/**
scripts/**
src/**
test/**
.editorconfig
.gitattributes
.gitignore
eslint.config.mjs
tsconfig*.json
vitest.config.ts
media/**
